<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Data Source=sql5052.site4now.net;Initial Catalog=DB_A55BCF_abdallahoss;User ID=DB_A55BCF_abdallahoss_admin;Password=***********-->
  
      <connectionStrings>
        <add name="messages"
              connectionString="Data Source=sarrawi\sqlexpress;Initial Catalog=MsgAbdallah;Integrated Security=True"
              providerName="System.Data.SqlClient" />
 </connectionStrings>
    <system.web>
        <webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>

          
    </webServices>
      
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>

</configuration>
